{extend name="public/base"}
{block name="seo"}
<title>学生列表 - 学生管理 - 教学管理系统</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$description|default='描述'}">
</head>
<body>
{/block}
{block name="content"}
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 学生中心 <span class="c-gray en">&gt;</span> 学生列表<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">
			<a href="javascript:;" onclick="member_add('添加学生','{:url(\'student/studentAdd\')}','','510')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加学生</a></span>
			<span class="r">共有数据：<strong>{$data.totalNum}</strong> 条</span>
			</div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="25"><input type="checkbox" name="" value=""></th>
							<th width="30">ID</th>
							<th width="100">学生名</th>
							<th width="40">性别</th>
							<th width="90">手机</th>
							<th width="150">邮箱</th>
							<th width="150">地址</th>
							<th width="130">加入时间</th>
							<th width="150">所在班级</th>
							<th width="150">简介</th>
							<th width="100">操作</th>
						</tr>
					</thead>
					<tbody>
						{foreach name="data.list" item="student"}
						<tr class="text-c">
							<td><input type="checkbox" value="1" name=""></td>
							<td>{$student.id}</td>
							<td>{$student.name}</td>
							<td>
							{if condition="$student.sex eq 0"}未知{/if}
							{if condition="$student.sex eq 1"}男{/if}
							{if condition="$student.sex eq 2"}女{/if}
							</td>
							<td>{$student.tel}</td>
							<td>{$student.email}</td>
							<td >{$student.address}</td>
							<td>{$student.create_time|date='Y-m-d H:i:s',###}</td>
							<td >{$student.grandNames}</td>
							<td>{$student.detail}</td>
							<td class="td-manage">
							<a title="编辑" href="javascript:;" onclick="member_edit('编辑','{:url(\'student/studentEdit\')}','{$student.id}','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
							<a title="删除" href="javascript:;" onclick="member_del(this,'{$student.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
						</tr>
						{/foreach}
					</tbody>
				</table>
			</div>
		</article>
	</div>
</section>
{/block}
{block name="js"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,10]}// 制定列不参与排序
		]
	});
	$('.table-sort tbody').on( 'click', 'tr', function () {
		if ( $(this).hasClass('selected') ) {
			$(this).removeClass('selected');
		}
		else {
			table.$('tr.selected').removeClass('selected');
			$(this).addClass('selected');
		}
	});
});
/*学生-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}

/*学生-编辑*/
function member_edit(title,url,id,w,h){
	layer_show(title,url+'?id='+id,w,h);
}
/*学生-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '{:url(\'student/studentDelete\')}',
			data: {id:id},
			dataType: 'json',
			success: function (data) {
				if (data.status == 0) {
					$(obj).parents("tr").remove();
					layer.msg(data.msg,{icon:1,time:1000});
				} else {
					layer.msg(data.msg,{icon:5,time:1000});
				}
			}
		});
	});

}
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
</body>
</html>