{extend name="public/base" /}
{block name="seo"}
{/block}
{block name="header"}
{/block}
{block name="menu"}{/block}
{block name="content"}
<article class="cl pd-20">
	{if condition="$data.empty eq 0"}
	<form action="" method="post" class="form form-horizontal" id="form-member-add">
		<input type="hidden" name="" class="teacherId" value="{$data.info.id}">	
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>教师名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text teacherName" value="{$data.info.name}" placeholder="" id="username" name="teacherName">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<select name="sex" class="teacherSex" style="width:50px;border-radius:5px;">
					<option value="1" 
					{eq name="data.info.sex" value="1"}selected{/eq}
					>男</option>
					<option value="2" 
					{eq name="data.info.sex" value="2"}selected{/eq}
					>女</option>
				</select>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="number" class="input-text tel" value="{$data.info.tel}" placeholder="" id="tel" name="tel" style="width:200px;">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>email：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="email" class="input-text email" value="{$data.info.email}" placeholder="" id="email" name="email">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>现住地址：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text address" value="{$data.info.address}" placeholder="" id="address" name="addrss">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">
			<span class="c-red"></span>简介：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="beizhu" cols="" rows="" value="{$data.info.detail}" class="textarea miaoshu"  placeholder="说点什么...最少输入10个字符">{$data.info.detail}</textarea>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">
			<span class="c-red">*</span>添加班级：</label>
			<div class="formControls col-xs-8 col-sm-9" style="border:#e5e5e5 1px solid;border-radius:5px;">
				{if condition="$data.countGrand eq 0"}
					<p>未发现班级信息，请添加班级后，再继续绑定</p>
				{else /}
					{foreach name="data.grandList" item="grand"}
						<span class="pro" style="width:50%;float:left;">
						{$grand.name}：<input type="checkbox" name="grandList" value="{$grand.id}" 
						{if condition="in_array($grand.id, $data.grandIds) eq true"}checked="checked"{/if} 
						>
						</span>
					{/foreach}
				{/if}
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">
			<span class="c-red">*</span>添加课程：</label>
			<div class="formControls col-xs-8 col-sm-9" style="border:#e5e5e5 1px solid;border-radius:5px;">
				{if condition="$data.countProgram eq 0"}
					<p>未发现课程信息，请添加课程后，再继续绑定</p>
				{else /}
					{foreach name="data.programList" item="program"}
						<span class="pro" style="width:25%;float:left;">
						{$program.name}：<input type="checkbox" name="programList" value="{$program.id}" 
						{if condition="in_array($program.id, $data.programIds) eq true"}checked="checked"{/if} 
						>
						</span>
					{/foreach}
				{/if}
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
	{else /}
		<p>{$data.msg}</p>
	{/if}
</article>
{/block}

{block name="js"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	// 添加
	$('.btn-primary').on('click', function () {
		var detail = $('.miaoshu').val();
		var name = $('.teacherName').val();
		var sex = $('.teacherSex').val();
		var email = $('.email').val();
		var tel = $('.tel').val();
		var address = $('.address').val();
		if (name == '') {
			alert('教师名称不能为空，请检查');
			return false;
		}
		if (email == '') {
			alert('email不能为空，请检查');
			return false;
		}
		if (tel == '') {
			alert('手机号不能为空，请检查');
			return false;
		}
		if (address == '') {
			alert('住址不能为空，请检查');
			return false;
		}
		// class
		var l = $('input[name="grandList"][type="checkbox"]:checked').length;
		if (l == 0) {
			alert('未选中课程，请检查');
			return false;
		}
		var grandIds = [];
		for (var i = 0; i < l; i++) {
			var obj = $('input[name="grandList"][type="checkbox"]:checked').eq(i);
			grandIds.push(obj.val());
		}
		grandIds = grandIds.join(',');
		// program
		var l2 = $('input[name="programList"][type="checkbox"]:checked').length;
		if (l2 == 0) {
			alert('未选中课程，请检查');
			return false;
		}
		var programIds = [];
		for (var i = 0; i < l2; i++) {
			var obj = $('input[name="programList"][type="checkbox"]:checked').eq(i);
			programIds.push(obj.val());
		}
		programIds = programIds.join(',');
		var data = {
			name: name,
			detail: detail,
			sex: sex,
			grandIds: grandIds,
			programIds: programIds,
			id: $('.teacherId').val(),
			email: email,
			tel: tel,
			address: address
		};
		// return false;
		// console.log(data);
		$.ajax({
			type: 'POST',
			url: '{:url(\'teacher/teacherUpdate\')}',
			data: data,
			dataType: 'json',
			success: function (data) {
				if (data.status == 0) {
					layer.msg(data.msg,{icon: 6,time:500});
					setTimeout(function (){
						parent.layer.closeAll();
					},500);
				} else {
					layer.msg(data.msg,{icon: 5,time:1000});	
				}
			}
		});
	});
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
{/block}
</body>
</html>